
.footer-content {
    background-color: #58AFFF;
    padding-top: 1px;
}

.footer-content a {
    color: #fff;
}

.footer-content .footer-title {
    color: #fff;

}

.index-header-content {
    background: url("../images/index-header-bg.png?v=2") no-repeat;
    background-size: contain;
    padding-top: 1px;
    position: relative;
    height: 27rem;
}

/*此处开始*/

.index-header-content .text-content{
    position: relative;
}

.index-header-content .cont-list .cont-item{
    position: absolute;
    width: 100%;
    left: -20%;
    opacity: 0;
}

.index-header-content .cont-list .cont-item:first-child{
    left: 0;
    opacity: 1;
}

/*此次结束*/

.index-header-content p {
    color: #fff;
    text-align: center;
}

.index-header-content .title {
    font-size: 2rem;
    margin-top: 5.14rem;

}

.index-header-content .desc {
    font-size: 1rem;
    margin-top: 1rem;
    line-height: 1.42rem;
}

.index-header-content .swiper-show {
    text-align: center;
    position: absolute;
    left: 0;
    top: 12.5rem;
    width: 100%;
}

.index-header-content .swiper-show img {
    width: 19.7rem;
    /*height: 20.5rem;*/
    position: absolute;
    left: 50%;
    margin-left: -9.75rem;
    display: none;
}

.content-wrapper {
    overflow: hidden;
}
.content-wrapper .content-list{
    margin-top: 3.7rem;
}
.content-wrapper .content-list .title {
    font-size: 1.43rem;
    color: #000;
    text-align: center;
    font-weight: bold;
}
.content-wrapper .content-list div{
    text-align: center;
}
.content-wrapper .content-list li {
    padding-top: 1.5rem;
    overflow: hidden;
}
.content-wrapper .content-list li img{
    width: 6rem;
    margin-bottom: 1rem;
}

.content-wrapper .content-list li p:first-of-type {
    font-size: 1rem;
    color: #727272;
    text-align: center
}
.content-wrapper .content-list li p:nth-of-type(2){
    text-align: center;
    color: #4F4F4F;
    font-size: .86rem;
    margin-top: .9rem;
}
.content-wrapper .content-list.trust {
    overflow: hidden;
    margin-bottom: 3.15rem;
}
.content-wrapper .content-list.trust li{
    width: 25%;
    float: left;
    text-align: center;
    padding: 0 1rem;
    box-sizing: border-box;
    height: 5rem;
    display: table-cell;

    vertical-align: middle!important;
}
.content-wrapper .content-list.trust li>div{
    width: 100%;
    height: 5rem;
    text-align: center;
    vertical-align: middle;
    background-position: center!important;
    background-size: 80% auto!important;
}
.content-wrapper .trust li img{
    /*width: 100%;*/
    /*vertical-align: middle!important;*/

}
.content-list .summ{
    font-size: .86rem;
    text-align: center;
    color: #58AFFF;
    margin: 1rem 0;
}
.core-adv li{
    overflow: hidden;
    padding: 0 2.14rem;
    margin-bottom: 1.28rem;

}
.core-adv li img{
    margin-top: 2rem;
}
.txtl p{
    text-align: left!important;
}
.txtr p{
    text-align: right!important;
}
.txtr p:first-child,.txtl p:first-child{
    margin-bottom: 1.2rem;
    color: #58AFFF!important;
}
.txtr p:last-child,.txtl p:last-child{
    line-height: 1rem;
}
html{
    width: 100%;
    overflow-x: hidden;
}